@import "tailwindcss";

/* Custom Fonts */
@font-face {
  font-family: "BonaNova";
  src: url("./assets/fonts/BonaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChivoMono";
  src: url("./assets/fonts/ChivoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChivoMono-Regular";
  src: url("./assets/fonts/ChivoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./assets/fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
